body {
    background-color: #c6fe8e;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

h1 {
    padding: 20px;
    margin: 20px;
    text-align: center;
}


/* First Part: Form One */

.add-field {
    border-radius: 6px;
    background-color: #cccbc8;
    border: 2px solid gray;
    max-width: 30%;
    padding: 1em;
    margin-right: 10em;
    margin-bottom: .4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
}

.add-field:hover {
    background-color: #9c9b98;
    font-size: 18px;
}


.task-input {
    margin: 7px;
    padding: 7px;
    width: 300px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.link-input {
    margin: 7px;
    padding: 7px;
    width: 300px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.task-text-input {
    width: 100%;
    height: 150px;
    padding: 12px;
    box-sizing: border-box;
    border: 5px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/* This apply for all buttons */
button {
    background-color: #cccbc8;
    margin: 7px;
    padding: 7px 15px;
    font-size: 16px;
}

button:hover {
    background-color: #9c9b98;
    font-weight: bold;
    font-size: 18px;
}


/* Second Part: Form Two */

.show-field {
    border-radius: 6px;
    background-color: #cccbc8;
    border: 2px solid gray;
    max-width: 50%;
    padding: 1em;
    margin-left: 10em;
    margin-bottom: .4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

h2 {
    background: #cccbc8;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.task-item {
    background: #f7bd7e;
    padding: 10px;
    margin: 10px;
}

.task-item:hover {
    background-color: #eb9b44;
    font-size: 18px;
}